@font-face {
  font-family: "Subway";
  src: url("../src/res/SUBWT___.ttf");
}

body,
html {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  padding: 0;
  margin: 0;
  background: #422057ff;
}

.header {
  margin-top: 20px;
}
.grid-container {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}
.wrapper-for-4 {
  width: 480px;
  margin: 0 auto;
  position: relative;
}

.grid-cell {
  width: 100px;
  height: 100px;
  margin: 5px;
  line-height: 90px;
  display: inline-block;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border-radius: 100%;
  color: #fff;
  background-color: rgb(83, 40, 110);
}
.num-cell {
  width: 100px;
  height: 100px;
  margin: 20px;
  line-height: 90px;
  display: inline-block;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border-radius: 100%;
  color: #fff;
  position: absolute;
}
.container-for-4 {
  width: 440px;
  height: 440px;
  padding: 20px;
  background-color: rgb(88, 45, 114);
  border-radius: 20px;
  outline: none;
  position: relative;
}
.cell-new {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-name: newTile;
  animation-name: newTile;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
@-webkit-keyframes newTile {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes newTile {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.cell-merged {
  z-index: 20;
  -webkit-animation: pop 200ms ease 100ms;
  -moz-animation: pop 200ms ease 100ms;
  animation: pop 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
.cell-color-2 {
  background: #7d66ff;
  border-color: #faf8ef;
}
.cell-color-4 {
  background: #f5bd6a;
  border-color: #eae0c8;
}
.cell-color-8 {
  background: #fb836f;
  border-color: #f59563;
}
.cell-color-16 {
  background: #5ab5ff;
  border-color: #3399ff;
}
.cell-color-32 {
  background: #dd599b;
  border-color: #ffa333;
}
.cell-color-64 {
  background: #00c176;
  border-color: #cef030;
}
.cell-color-128 {
  background: #e21b5a;
  border-color: #e8d8ce;
}
.cell-color-256 {
  background: #4dfdd1;
  border-color: #990303;
}
.cell-color-512 {
  background: #e21b5a;
  border-color: #6ba5de;
}
.cell-color-1024 {
  background: #e21b5a;
  border-color: #dcad60;
}
.cell-color-2048 {
  background: #e21b5a;
  border-color: #b60022;
}
select.select-cell-num {
  width: 80px;
  height: 40px;
  line-height: 40px;
  padding-right: 20px;
  text-indent: 4px;
  text-align: left;
  vertical-align: middle;
  box-shadow: inset 0 0 3px #606060;
  border: 1px solid #acacac;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: Arial, Calibri, Tahoma, Verdana;
  font-size: 18px;
  font-weight: 500;
  color: #f56a81;
  cursor: pointer;
  outline: none;
}
select.select-cell-num option {
  padding: 4px 10px 4px 10px;
  font-size: 11pt;
  font-weight: normal;
}
select.select-cell-num option:hover {
  background: #61ccfd;
  padding-left: 20px;
}
select.select-cell-num option[selected] {
  font-weight: bold;
}
select.select-cell-num option:nth-child(even) {
  background-color: #f5f5f5;
}
label.lbl-select {
  position: relative;
  display: inline-block;
  float: right;
  margin-top: 15px;
}
label.lbl-select::after {
  content: "\25bc";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  color: rgba(235, 67, 35, 0.75);
  -moz-border-radius: 0 6px 6px 0;
  -webkit-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
  pointer-events: none;
}

.title {
  font-family: "Subway";
  color: rgb(252, 221, 81);
  font-size: 4.5em;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.holder {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
}

.score {
  display: flex;
}

.nowScore,
.bestScore {
  background: rgb(252, 221, 81);
  padding: 10px 20px;
  border-radius: 7px;
  color: #422057ff;
  text-align: center;
  margin-right: 10px;
  font-weight: 900;
}

.nowScore::before {
  content: "Score";
  display: block;
}
.bestScore::before {
  content: "Best Score";
  display: block;
}

.playAgain {
  display: flex;
  align-self: center;
  background: rgb(252, 221, 81);
  padding: 20px 30px;
  border-radius: 7px;
  color: #422057ff;
  font-weight: 900;
}

.playAgain:hover {
  cursor: pointer;
  background: #f3e95e;
}

@media (max-width: 800px) {
  .title {
    margin-top: -40px;
    font-size: 4em;
  }
  .wrapper-for-4 {
    transform: scale(0.7);
    padding: 0;
    margin-left: -55px;
  }
}
